<template>
  <div class="row header-row">
    <q-input
      v-model="searchText"
      class="q-ma-sm"
      clearable
      debounce="500"
      filled dense
      label="Search Players..."
      @update:model-value="searchForPlayers()">
      <template #append>
        <q-icon name="search" />
      </template>
    </q-input>
  </div>
  <div class="row player-container">
    <div v-if="isLoading" class="row q-mx-auto q-gutter-md loading-container">
      <div v-for="(i, index) in 10" :key="index" class="col-xs-12 col-sm-5 col-md-4 q-pa-md">
        <q-card>
          <q-item>
            <q-item-section>
              <q-item-label>
                <q-skeleton type="text" />
              </q-item-label>
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section>
              <q-item-label>
                <q-skeleton type="text" />
              </q-item-label>
              <q-item-label>
                <q-skeleton type="text" />
              </q-item-label>
              <q-item-label>
                <q-skeleton type="text" />
              </q-item-label>
              <q-item-label>
                <q-skeleton type="text" />
              </q-item-label>
            </q-item-section>
            <q-item-section avatar>
              <q-skeleton type="QAvatar" />
            </q-item-section>
          </q-item>

          <q-card-actions align="center" class="q-gutter-xs">
            <q-skeleton type="QBtn" />
            <q-skeleton type="QBtn" />
            <q-skeleton type="QBtn" />
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <q-inner-loading
      :showing="isLoading || isSearching"
      color="primary"
      label="Fetching players..."
      label-class="text-primary"
      label-style="font-size: 1.1em" />
    <PlayerList v-if="players.length > 0 && !isLoading" :players="players" @save-evaluation="saveEvaluation" />
    <div v-else-if="players.length === 0 && !isLoading" class="col no-players">
      No available players...
    </div>
  </div>
</template>

<script setup lang="ts">
import { Ref, ref } from 'vue';
import { fetchPlayers, updatePlayers } from '../utility/dbHelpers';
import { Player } from '../interfaces/Player';
import PlayerList from '../components/PlayerList.vue';
import { useQuasar } from 'quasar';

const $q = useQuasar();

const isLoading = ref(true);

const players: Ref<Array<Player>> = ref([]);
const sortBy = ref('Recently Added');

getPlayers();

async function getPlayers() {
  await fetchPlayers(sortBy.value)
    .then((list) => {
      players.value = list;
      isLoading.value = false;
    });
}

async function saveEvaluation(p: Player):Promise<void> {
  updatePlayers(players.value)
    .then(() => {
      getPlayers();
      $q.notify({
        message: `${p.name} has been updated.`,
        color: 'primary',
        timeout: 2000,
        position: 'top'
      });
    })
    .catch((er) => {
      $q.notify({
        message: `Error: ${er}`,
        color: 'accent',
        timeout: 2000,
        position: 'top'
      });
    });
}

const searchText = ref('');
const isSearching = ref(false);
async function searchForPlayers():Promise<void> {
  isSearching.value = true;
  await fetchPlayers('Recently Added')
    .then((list) => {
      if (searchText.value && searchText.value.length > 0) {
        players.value = list.filter(_ => _.name.toLowerCase().includes(searchText.value.toLowerCase()));
      } else {
        players.value = list;
      }
      isSearching.value = false;
    });
}
</script>

<style lang="sass" scoped>
.header-row
  display: flex
  justify-content: center
.q-select
  width: 200px
h1
  color: $primary
  font-size: 1.5rem
  font-weight: bold
  margin: 0
  letter-spacing: 5px
.loading-container
  display: flex
  justify-content: center
.player-container
  display: flex
  justify-content: center
  align-content: flex-start
  height: calc(100vh - 114px)
  overflow-y: auto
  overflow-x: hidden
  margin: auto
  padding: 0.5rem
  padding-bottom: 100px
.no-players
  display: flex
  justify-content: center

</style>
