<template>
  <div class="row team-container">
    <div class="row top-row">
      <h1 class="text-primary text-h3">
        Age Groups
      </h1>
      <div>
        <q-btn color="primary" icon="add"
               label="Add Age Group" size="sm"
               class="team-btn q-mb-sm" @click="addAgeGroupDialog = true;" />
        <q-btn color="primary" icon="download" size="sm"
               label="Export"
               class="team-btn q-mb-sm" :class="$q.screen.width > 370 ? 'q-ml-sm' : ''"
               @click="exportTable" />
      </div>
    </div>
    <q-inner-loading
      :showing="isLoading"
      color="primary"
      label="Fetching league..."
      label-class="text-primary"
      label-style="font-size: 1.1em" />
    <div class="row" style="width: 100%;">
      <q-list v-if="ageGroups.length > 0 && !isLoading" bordered class="rounded-borders"
              style="width: 100%; max-width: 1200px; margin: auto;">
        <q-expansion-item
          v-for="(group, index) in ageGroups" :key="index"
          style="border-bottom: 1px solid rgba(0, 0, 0, 0.12);"
          header-class="text-h3 text-primary" expand-separator
          :label="group.name">
          <div class="row" style="display: flex; justify-content: center; padding-top: 5px;">
            <q-btn color="primary" icon="add"
                   label="Add Team" size="sm"
                   class="team-btn q-mb-sm" @click="promptAddTeam(group)" />
          </div>
          <div class="row team-list">
            <TeamList v-if="teams.filter(_ => _.groupId === group.id).length > 0" :key="reload_teams" :teams="teams.filter(_ => _.groupId === group.id)"
                      @edit-team="promptEditTeam"
                      @add-player="promptAddPlayer" @delete-team="promptDeleteTeam" />
            <div v-else class="col no-teams">
              No teams added yet...
            </div>
          </div>
        </q-expansion-item>
      </q-list>
      <div v-else-if="ageGroups.length === 0 && !isLoading" class="col no-teams">
        No age groups added yet...
      </div>
    </div>
  </div>
  <q-dialog v-model="addAgeGroupDialog" persistent
            transition-show="rotate"
            transition-hide="rotate">
    <q-card style="width: fit-content; height: fit-content;">
      <q-form
        ref="addAgeGroupFrom"
        class="q-gutter-md"
        @submit="onAddAgeGroupSubmit"
        @reset="onReset">
        <q-card-section>
          <div class="text-h6">
            Add Age Group
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-input
            v-model="ageGroupName"
            type="text"
            class="q-mx-sm"
            filled dense
            label="Age Group *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'This field is required.']" />
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn type="reset" flat
                 label="Cancel"
                 color="accent" />
          <q-btn type="submit"
                 label="Save"
                 color="primary" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
  <q-dialog v-model="addTeamDialog" persistent
            transition-show="rotate"
            transition-hide="rotate">
    <q-card style="width: fit-content; height: fit-content;">
      <q-form
        ref="addTeamForm"
        class="q-gutter-md"
        @submit="onSubmit"
        @reset="onReset">
        <q-card-section>
          <div class="text-h6">
            Add Team
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-input
            v-model="selectedTeam.teamName"
            type="text"
            class="q-mx-sm"
            filled dense
            label="Team Name*"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'This field is required.']" />
          <q-input
            v-model="selectedTeam.coach"
            type="text"
            class="q-mx-sm"
            filled dense
            label="Coach Name*"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'This field is required.']" />
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn type="reset" flat
                 label="Cancel"
                 color="accent" />
          <q-btn type="submit"
                 label="Save"
                 color="primary" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
  <q-dialog v-model="editTeamDialog" persistent
            transition-show="rotate"
            transition-hide="rotate">
    <q-card>
      <q-form
        ref="addTeamForm"
        class="q-gutter-md"
        @submit="onEditSubmit"
        @reset="onReset">
        <q-card-section>
          <div class="text-h6">
            Edit Team
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-input
            v-model="teamNameEdit"
            type="text"
            class="q-mx-sm"
            filled dense
            label="Team Name*"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'This field is required.']" />
          <q-input
            v-model="teamCoachEdit"
            type="text"
            class="q-mx-sm"
            filled dense
            label="Coach Name*"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'This field is required.']" />
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn type="reset" flat
                 label="Cancel"
                 color="accent" />
          <q-btn type="submit"
                 label="Save"
                 color="primary" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
  <q-dialog v-model="addPlayerDialog"
            persistent
            transition-show="rotate"
            transition-hide="rotate">
    <q-card style="width: 700px; max-width: 80vw; height: 75vh; overflow: hidden;">
      <q-form
        ref="addTeamForm"
        @submit="onAddSubmit"
        @reset="onReset">
        <q-card-section class="top-section">
          <div class="text-h6">
            {{ selectedTeam.teamName }}&nbsp;-&nbsp;Add Players
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section class="middle-section">
          <div class="row player-cards">
            <q-card v-for="(p, index) in players" :key="index"
                    class="q-ma-sm col-xs-12 col-sm-3">
              <q-card-section>
                <div class="text-h6">
                  {{ p.name }}
                </div>
                <div class="text-h8">
                  Played Before:&nbsp;{{ p.playedBefore }}
                </div>
                <div class="text-h8">
                  Years Played:&nbsp;<span v-if="p.playedBefore === 'Yes'">{{ p.playedBefore }}</span><span v-else>0</span>
                </div>
                <div v-if="p.evaluation">
                  Eval Score: {{ p.evaluation.overallScore.toFixed(2) }}
                </div>
                <div v-else>
                  Eval Score: N/A
                </div>
              </q-card-section>
              <q-card-actions align="center">
                <q-btn v-if="!selectedTeam.players.find(id => id === p.id) && p.hasTeam" flat disable
                       label="Add"
                       color="blue-grey-1" />
                <q-btn v-else-if="selectedTeam.players.find(id => id === p.id) && p.hasTeam" flat
                       label="Remove"
                       color="accent"
                       @click="removePlayerFromTeam(p)" />
                <q-btn v-else flat
                       label="Add"
                       color="primary"
                       @click="addPlayerToTeam(p)" />
              </q-card-actions>
            </q-card>
          </div>
        </q-card-section>
        <q-card-actions class="bottom-buttons">
          <q-btn
            label="OK" class="add-ok-btn"
            color="primary" @click="closeAddDialog" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" setup>
import * as XLSX from 'xlsx';
import { Ref, onMounted, ref } from 'vue';
import { addAgeGroup, addTeam, fetchAgeGroups, fetchPlayers, fetchTeams, updatePlayers, updateTeams } from '../utility/dbHelpers';
import { AgeGroup } from '../interfaces/AgeGroup';
import { Player } from '../interfaces/Player';
import { Team } from '../interfaces/Team';
import TeamList from '../components/TeamList.vue';
import { appStore } from '../state/app';
import { useQuasar } from 'quasar';
import { v4 as uuidv4 } from 'uuid';


const $q = useQuasar();

const team: Ref<Team> = ref({
  id: uuidv4(),
  addedBy: appStore.state.user?.email || '',
  dateAdded: new Date(),
  teamName: '',
  coach: '',
  players: []
});

const isLoading = ref(true);
const teams: Ref<Array<Team>> = ref([]);
const ageGroups: Ref<Array<AgeGroup>> = ref([]);

onMounted(async() => {
  await getAgeGroups();
  await getTeams();
  await getPlayers();
  isLoading.value = false;
});

async function getAgeGroups() {
  await fetchAgeGroups()
    .then(list => {
      ageGroups.value = list;
    });
}

const reload_teams = ref(0);
async function getTeams() {
  await fetchTeams()
    .then((list) => {
      teams.value = list;
      reload_teams.value++;
    });
}

async function getPlayers() {
  await fetchPlayers('Recently Added')
    .then((list) => {
      players.value = list;
    });
}

const addTeamDialog = ref(false);
const selectedTeam: Ref<Team> = ref(team);
async function onSubmit():Promise<void> {
  team.value = {
    id: uuidv4(),
    addedBy: appStore.state.user?.email || '',
    dateAdded: new Date(),
    groupId: selectedAgeGroup.value?.id,
    teamName: selectedTeam.value.teamName,
    coach: selectedTeam.value.coach,
    players: []
  };
  await addTeam(team.value)
    .then(async() => {
      getTeams();
      $q.notify({
        message: `${team.value.teamName} has been added to ${selectedAgeGroup.value?.name}`,
        color: 'primary',
        timeout: 2000,
        position: 'top'
      });
      addTeamDialog.value = false;
      selectedAgeGroup.value = null;
      selectedTeam.value = {
        id: uuidv4(),
        addedBy: appStore.state.user?.email || '',
        dateAdded: new Date(),
        teamName: '',
        coach: '',
        players: []
      };
    })
    .catch((er) => {
      $q.notify({
        message: `Error: ${er}`,
        color: 'primary',
        timeout: 2000,
        position: 'top'
      });
    });
}

function onReset():void {
  selectedTeam.value = {
    id: uuidv4(),
    addedBy: appStore.state.user?.email || '',
    dateAdded: new Date(),
    teamName: '',
    coach: '',
    players: []
  };
  addAgeGroupDialog.value = false;
  addTeamDialog.value = false;
  editTeamDialog.value = false;
  addPlayerDialog.value = false;
  selectedTeam.value = team.value;
  ageGroupName.value = '';
  selectedAgeGroup.value = null;
}

const editTeamDialog = ref(false);
const teamNameEdit = ref('');
const teamCoachEdit = ref('');
function promptEditTeam(team: Team):void {
  selectedTeam.value = team;
  teamNameEdit.value = team.teamName;
  teamCoachEdit.value = team.coach;
  editTeamDialog.value = true;
}

async function onEditSubmit():Promise<void> {
  const teamToEdit = teams.value.find(_ => _.id === selectedTeam.value.id);
  if (teamToEdit) {
    teamToEdit.teamName = teamNameEdit.value;
    teamToEdit.coach = teamCoachEdit.value;
  }
  await updateTeams(teams.value)
    .then(() => {
      getTeams();
      $q.notify({
        message: `${team.value.teamName} has been updated.`,
        color: 'primary',
        timeout: 2000,
        position: 'top'
      });
      editTeamDialog.value = false;
      selectedTeam.value = {
        id: uuidv4(),
        addedBy: appStore.state.user?.email || '',
        dateAdded: new Date(),
        teamName: '',
        coach: '',
        players: []
      };
    })
    .catch((er) => {
      $q.notify({
        message: `Error: ${er}`,
        color: 'primary',
        timeout: 2000,
        position: 'top'
      });
    });
}

const addPlayerDialog = ref(false);
const players: Ref<Array<Player>> = ref([]);
async function promptAddPlayer(team: Team):Promise<void> {
  selectedTeam.value = team;
  addPlayerDialog.value = true;
}

function addPlayerToTeam(p: Player):void {
  selectedTeam.value.players.push(p.id);
  p.hasTeam = true;
  onAddSubmit();
}

async function onAddSubmit():Promise<void> {
  const teamToEdit = teams.value.find(_ => _.id === selectedTeam.value.id);
  if (teamToEdit) {
    teamToEdit.players = selectedTeam.value.players;
  }
  await updateTeams(teams.value)
    .then(async() => {
      await updatePlayers(players.value)
        .then(() => {
          $q.notify({
            message: `${team.value.teamName} has been updated.`,
            color: 'primary',
            timeout: 2000,
            position: 'top'
          });
        })
        .catch((er) => {
          $q.notify({
            message: `Error: ${er}`,
            color: 'primary',
            timeout: 2000,
            position: 'top'
          });
        });
    })
    .catch((er) => {
      $q.notify({
        message: `Error: ${er}`,
        color: 'primary',
        timeout: 2000,
        position: 'top'
      });
    });
}

function closeAddDialog():void {
  getTeams();
  addPlayerDialog.value = false;
  selectedTeam.value = {
    id: uuidv4(),
    addedBy: appStore.state.user?.email || '',
    dateAdded: new Date(),
    teamName: '',
    coach: '',
    players: []
  };
}

function promptDeleteTeam(team: Team):void {
  $q.dialog({
    title: 'Delete',
    message: `Are you sure you would like to delete ${team.teamName}?`,
    cancel: true,
    persistent: true
  }).onOk(async() => {
    team.players.forEach(p => {
      const player = players.value.find(_ => _.id === p);
      if (player) {
        player.hasTeam = false;
      }
    });
    const index = teams.value.indexOf(team);
    if (index !== -1) {
      teams.value.splice(index, 1);
    }
    await updateTeams(teams.value)
      .then(async() => {
        await updatePlayers(players.value)
          .then(() => {
            $q.notify({
              message: `${team.teamName} has been deleted`,
              color: 'primary',
              timeout: 2000,
              position: 'top'
            });
            getTeams();
          })
          .catch((er) => {
            $q.notify({
              message: `Error: ${er}`,
              color: 'negative',
              timeout: 2000,
              position: 'top'
            });
          });
        
      })
      .catch((er) => {
        $q.notify({
          message: `Error: ${er}`,
          color: 'negative',
          timeout: 2000,
          position: 'top'
        });
      });
  });
}

function removePlayerFromTeam(p: Player):void {
  let index = -1;
  for (let i=0; i<selectedTeam.value.players.length; i++) {
    if (selectedTeam.value.players[i] === p.id) {
      index = i;
    }
  }
  p.hasTeam = false;
  selectedTeam.value.players.splice(index, 1);
  onAddSubmit();
}

// function exportUnis():void {
//   const workbook = XLSX.utils.book_new();
//   let rows = [
//     { ['Player']: '', ['Grade']: '', ['Jersey Size']: '', ['Shorts Size']: '' }
//   ];
//   teams.value.forEach(team => {
//     rows = [
//       { ['Player']: '', ['Grade']: '', ['Jersey Size']: '', ['Shorts Size']: '' }
//     ];
//     team.players.forEach(p => {
//       const playerInfo = players.value.find(_ => _.id === p);
//       if (playerInfo) {
//         rows.push({
//           ['Player']: `${playerInfo.name}`,
//           ['Grade']: playerInfo.grade,
//           ['Jersey Size']: playerInfo.shirtSize,
//           ['Shorts Size']: playerInfo.shortSize
//         });
//       }
//     });
//     const worksheet = XLSX.utils.json_to_sheet(rows);
//     XLSX.utils.book_append_sheet(workbook, worksheet, team.teamName);
//   });

//   XLSX.writeFile(workbook, "TeamUniforms.xlsx");
// }

const ageGroupName = ref('');
const addAgeGroupDialog = ref(false);
const selectedAgeGroup: Ref<AgeGroup | null> = ref(null);
async function onAddAgeGroupSubmit() {
  const group: AgeGroup = {
    id: uuidv4(),
    name: ageGroupName.value
  };
  await addAgeGroup(group)
    .then(() => {
      getAgeGroups();
      $q.notify({
        message: `${group.name} has been added.`,
        color: 'primary',
        timeout: 2000,
        position: 'top'
      });
      ageGroupName.value = '';
      addAgeGroupDialog.value = false;
    })
    .catch((er) => {
      $q.notify({
        message: `Error: ${er}`,
        color: 'primary',
        timeout: 2000,
        position: 'top'
      });
    });
}

function promptAddTeam(g: AgeGroup):void {
  addTeamDialog.value = true;
  selectedAgeGroup.value = g;
}

function exportTable():void {
  const workbook = XLSX.utils.book_new();
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  const rows: any[] = [];
  players.value.forEach(player => {
    const val = {
      ['Player']: player.name,
      ['Date of Birth']: player.dateOfBirth,
      ['Team']: '',
      ['Paid']: player.hasPaid ? 'Yes' : 'No',
      ['Evaluation Complete']: player.evaluationComplete ? 'Yes' : 'No',
      ['Evaluation']: '',
      ['Gender']: player.gender,
      ['Grade']: player.grade,
      ['Jersey Size']: player.shirtSize,
      ['Shorts Size']: player.shortSize,
      ['Played Before']: player.playedBefore,
      ['Years Played']: player.yearsPlayed?.toString() || '0',
      ['Street Address']: player.streetAddress,
      ['City']: player.city,
      ['State']: player.state,
      ['Zip Code']: player.zipCode,
      ['Nights Unavailable']: '',
      ['Medical Conditions']: player.medicalConditions,
      ['Father/Guardian']: player.maleGuardian,
      ['Mother/Guardian']: player.femaleGuardian,
      ['Parent Role']: player.parentRole,
      ['Contacts']: '',
      ['Regularly Attended Church']: player.churchAttended,
      ['More Info about MBC']: player.moreInfoAboutMBC ? 'Yes' : 'No'
    };
    if (player.hasTeam) {
      teams.value.forEach(team => {
        const id = team.players.find(p => p === player.id);
        if (id) {
          val.Team = team.teamName;
        }
      });
    }
    if (player.evaluation) {
      val.Evaluation += `Overall: ${player.evaluation.overallScore}, Cone Dribbling: ${player.evaluation.coneDribbling}, Dash Time: ${player.evaluation.coneDribbling}, ` +
      `Long Shot (10): ${player.evaluation.longShot10}, Long Shot (20): ${player.evaluation.longShot20}, Long Shot (30): ${player.evaluation.longShot30}, ` +
      `Goals Left: ${player.evaluation.goalsLeft}, Goals Center: ${player.evaluation.goalsCenter}, Goals Right: ${player.evaluation.goalsRight}`;
    }
    if (player.nightsUnavailable.length > 0) {
      player.nightsUnavailable.forEach(n => {
        val['Nights Unavailable'] += `${n}, `;
      });
      val['Nights Unavailable'] = val['Nights Unavailable'].slice(0, val['Nights Unavailable'].length - 2);
    }
    if (player.contacts.length > 0) {
      player.contacts.forEach(contact => {
        val.Contacts += `${contact.name} : ${contact.phoneNumber}; `;
      });
      val.Contacts = val.Contacts.slice(0, val.Contacts.length - 2);
    }
    rows.push(val);
  });

  const worksheet = XLSX.utils.json_to_sheet(rows);
  XLSX.utils.book_append_sheet(workbook, worksheet, 'Roster');
  XLSX.writeFile(workbook, "roster.xlsx");
}
</script>

<style lang="sass" scoped>
.header-row
  display: flex
  justify-content: center
  position: relative
h1
  color: $primary
  font-size: 1.5rem
  font-weight: bold
  margin: 0
  letter-spacing: 5px  
.team-container
  display: flex
  align-items: center
  justify-content: center
  max-height: calc(100vh - 50px)
  overflow-y: auto
  overflow-x: hidden
  margin: auto
  padding: 0.5rem
  padding-bottom: 150px
.top-row
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
.q-form
  height: 100%
.q-card__section
  padding: 4px 16px
.team-list
  display: flex
  justify-content: center
  width: 100%
.no-teams
  display: flex
  justify-content: center
  margin-top: 1rem
.player-cards
  display: flex
  justify-content: center
.top-section 
  height: 7%
.middle-section
  height: 80%
  overflow-y: auto
  overflow-x: hidden
  padding-bottom: 100px
.bottom-buttons
  display: flex
  align-items: center
  height: 13%
  position: absolute
  left: 50%
  bottom: 0
  transform: translateX(-50%)
.bottom-buttons button 
  width: 100px
.add-ok-btn
  height: fit-content
.q-badge
  display: inline-flex
  justify-content: center
  width: 1.25rem
  height: 1.25rem
  border-radius: 50% !important
  padding: 0.25rem
.team-btn
  width: 175px
</style>
