<template>
  <div class="not-found">
    <h1>
      NOT FOUND
    </h1>
  </div>
</template>

<style lang="sass" scoped>
.not-found
  display: flex
  justify-content: center
  align-items: center
h1
  color: $primary
  font-size: 2rem
  font-weight: bold
  letter-spacing: 5px  
</style>
