<template>
  <div class="container">
    <div class="row player-container q-pa-md">
      <q-table v-if="players.length > 0" title="Manage Players" :rows="players"
               :columns="columns"
               row-key="name">
        <template #top-right>
          <q-btn
            color="primary"
            icon-right="archive"
            label="Export to csv"
            no-caps
            @click="exportTable" />
        </template>
      </q-table>
      <!-- <q-card v-for="(p, index) in players" :key="index"
              bordered class="my-card bg-grey-1 col-xs-12 col-sm-5 col-md-4 q-mx-sm q-my-md">
        <q-card-section>
          <div class="row items-center no-wrap player-name">
            <div class="text-h5">
              {{ p.name }}
            </div>
          </div>
          <q-separator />
          <div class="row items-center no-wrap center-row">
            <div class="col">
              <div class="text-subtitle2">
                Played Before:&nbsp;{{ p.playedBefore }}
              </div>
              <div v-if="p.playedBefore === 'Yes'" class="text-subtitle2">
                Years Played:&nbsp;{{ p.yearsPlayed }}
              </div>
              <div v-else class="text-subtitle2">
                Years Played:&nbsp;0
              </div>
              <div class="text-subtitle2">
                Grade:&nbsp;{{ p.grade }}
              </div>
              <div class="text-subtitle2">
                Jersey:&nbsp;{{ p.shirtSize }}
              </div>
              <div class="text-subtitle2">
                Shorts:&nbsp;{{ p.shirtSize }}
              </div>
            </div>
            <div class="col eval-score-div">
              <span class="text-subtitle2">EVALUATION</span>
              <q-avatar v-if="p.evaluationComplete" class="shadow-6 q-mr-md"
                        text-color="positive">
                <span class="text-subtitle1">{{ p.evaluation?.overallScore }}</span>
              </q-avatar>
              <q-avatar v-else text-color="negative" class="shadow-6 q-mr-md">
                <span class="text-subtitle2">N/A</span>
              </q-avatar>
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="center">
          <q-btn flat class="action-btn" color="primary"
                 @click="openEditDialog(p)">
            EDIT
          </q-btn>
          <q-separator vertical />
          <q-btn flat class="action-btn" color="primary"
                 @click="promptDeletePlayer(p)">
            DELETE
          </q-btn>
        </q-card-actions>
      </q-card> -->
    </div>
  </div>
</template>

<script setup lang="ts">
import * as XLSX from 'xlsx';
import { Ref, onMounted, ref } from 'vue';
import { fetchPlayers, fetchTeams } from '../utility/dbHelpers';
import { Player } from "../interfaces/Player";
import { Team } from '../interfaces/Team';

const players: Ref<Array<Player>> = ref([]);
const teams: Ref<Array<Team>> = ref([]);

const columns = [  
  { name: 'name', label: 'Player Name', field: 'name', required: true, sortable: true },
  { name: 'dateOfBirth', label: 'Date of Birth', field: 'dateOfBirth', required: true, sortable: true },
  { name: 'evaluationComplete', label: 'Evaluation Complete', field: 'evaluationComplete', required: true, sortable: true },
  { name: 'gender', label: 'Gender', field: 'gender', required: true, sortable: true },
  { name: 'grade', label: 'Grade', field: 'grade', required: true, sortable: true },
  { name: 'playedBefore', label: 'Played Before', field: 'playedBefore', required: true, sortable: true },
  { name: 'yearsPlayed', label: 'Years Played', field: 'yearsPlayed', required: true, sortable: true },
  { name: 'streetAddress', label: 'Address', field: 'streetAddress', required: true, sortable: true },
  { name: 'city', label: 'City', field: 'city', required: true, sortable: true },
  { name: 'state', label: 'State', field: 'state', required: true, sortable: true },
  { name: 'zipCode', label: 'Zip Code', field: 'zipCode', required: true, sortable: true },
  { name: 'shirtSize', label: 'Jersey Size', field: 'shirtSize', required: true, sortable: true },
  { name: 'shortSize', label: 'Shorts Size', field: 'shortSize', required: true, sortable: true },
  { name: 'nightsUnavailable', label: 'Nights Unavailable', field: 'nightsUnavailable', required: true, sortable: true },
  { name: 'medicalConditions', label: 'Medical Conditions', field: 'medicalConditions', required: true, sortable: true },
  { name: 'maleGuardian', label: 'Father/Guardian', field: 'maleGuardian', required: true, sortable: true },
  { name: 'femaleGuardian', label: 'Mother/Guardian', field: 'femaleGuardian', required: true, sortable: true },
  { name: 'parentRole', label: 'Parent Role', field: 'parentRole', required: true, sortable: true },
  { name: 'contacts.name', label: 'Contact Name', field: 'contacts.name', required: true, sortable: true },
];

onMounted(async() => {
  players.value = await fetchPlayers('Recently Added');
  teams.value = await fetchTeams();
});

function exportTable():void {
  const workbook = XLSX.utils.book_new();
  const rows = [
    { ['Player']: '', ['Date of Birth']: '', ['Evaluation Complete']: '', ['Evaluation']: '', ['Gender']: '', ['Grade']: '', ['Jersey Size']: '', ['Shorts Size']: '', ['Played Before']: '', ['Years Played']: '',
      ['Street Address']: '', ['City']: '', ['State']: '', ['Zip Code']: '', ['Nights Unavailable']: '', ['Medical Conditions']: '', ['Father/Guardian']: '', ['Mother/Guardian']: '',
      ['Parent Role']: '', ['Contacts']: '', ['Regularly Attended Church']: '', ['More Info about MBC']: '' }
  ];
  players.value.forEach(player => {
    const val = {
      ['Player']: player.name,
      ['Date of Birth']: player.dateOfBirth,
      ['Evaluation Complete']: player.evaluationComplete ? 'Yes' : 'No',
      ['Evaluation']: '',
      ['Gender']: player.gender,
      ['Grade']: player.grade,
      ['Jersey Size']: player.shirtSize,
      ['Shorts Size']: player.shortSize,
      ['Played Before']: player.playedBefore,
      ['Years Played']: player.yearsPlayed?.toString() || '0',
      ['Street Address']: player.streetAddress,
      ['City']: player.city,
      ['State']: player.state,
      ['Zip Code']: player.zipCode,
      ['Nights Unavailable']: '',
      ['Medical Conditions']: player.medicalConditions,
      ['Father/Guardian']: player.maleGuardian,
      ['Mother/Guardian']: player.femaleGuardian,
      ['Parent Role']: player.parentRole,
      ['Contacts']: '',
      ['Regularly Attended Church']: player.churchAttended,
      ['More Info about MBC']: player.moreInfoAboutMBC ? 'Yes' : 'No'
    };
    if (player.evaluation) {
      val.Evaluation += `Overall: ${player.evaluation.overallScore}, Cone Dribbling: ${player.evaluation.coneDribbling}, Dash Time: ${player.evaluation.coneDribbling}, ` +
      `Long Shot (10): ${player.evaluation.longShot10}, Long Shot (20): ${player.evaluation.longShot20}, Long Shot (30): ${player.evaluation.longShot30}, ` +
      `Goals Left: ${player.evaluation.goalsLeft}, Goals Center: ${player.evaluation.goalsCenter}, Goals Right: ${player.evaluation.goalsRight}`;
    }
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    player.nightsUnavailable.forEach((n: any) => {
      val['Nights Unavailable'] += `${n.el.data}, `;
    });
    val['Nights Unavailable'] = val['Nights Unavailable'].slice(0, val['Nights Unavailable'].length - 2);
    player.contacts.forEach(contact => {
      val.Contacts += `${contact.name} : ${contact.phoneNumber}; `;
    });
    val.Contacts = val.Contacts.slice(0, val.Contacts.length - 2);
    rows.push(val);
  });

  const worksheet = XLSX.utils.json_to_sheet(rows);
  XLSX.utils.book_append_sheet(workbook, worksheet, 'Roster');
  XLSX.writeFile(workbook, "roster.xlsx");
}

// function openEditDialog(p: Player):void {
//   console.log(p);
// }

// function promptDeletePlayer(p: Player):void {
//   $q.dialog({
//     title: 'Delete',
//     message: `Are you sure you would like to delete ${p.name}?`,
//     cancel: true,
//     persistent: true
//   }).onOk(async() => {
//     const index = players.value.indexOf(p);
//     players.value.splice(index, 1);
//     updatePlayers(players.value)
//       .then(async() => {
//         teams.value.forEach(team => {
//           const index = team.players.indexOf(p.id);
//           team.players.splice(index, 1);
//         });
//         updateTeams(teams.value)
//           .then(async() => {
//             players.value = await fetchPlayers('Recently Added');
//             $q.notify({
//               message: `${p.name} has been deleted.`,
//               color: 'primary',
//               timeout: 2000,
//               position: 'top'
//             });
//           })
//           .catch((er) => {
//             $q.notify({
//               message: `Error: ${er}`,
//               color: 'accent',
//               timeout: 2000,
//               position: 'top'
//             });
//           });
//       })
//       .catch((er) => {
//         $q.notify({
//           message: `Error: ${er}`,
//           color: 'accent',
//           timeout: 2000,
//           position: 'top'
//         });
//       });
//   });
// }
</script>

<style lang="sass" scoped>
.container
  display: flex
  flex-direction: column
  width: 100vw
  overflow: auto
  align-items: center
  padding-top: 2rem
h1
  color: $primary
  font-size: 1.5rem
  font-weight: bold
  margin: 0
  letter-spacing: 5px
.player-container
  display: flex
  justify-content: center
  width: 100%
  padding-bottom: 2rem !important
.q-table__container
  max-width: 80vw
.q-form
  display: flex
  flex-direction: column
  height: 100%
.q-card__section
  padding: 4px 16px
.dialog-section
  height: 7%
  padding: 16px
.player-name
  display: flex
  justify-content: center
.eval-score-div
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: flex-end
.middle-section
  height: 80%
  overflow-y: auto
  overflow-x: hidden
  padding-top: 10px
  padding-bottom: 50px
.col 
  padding-top: 16px
.action-btn 
  height: 13%
  width: 33%
  font-size: 0.75rem
.action-btn:hover
  color: $primary
</style>
