<template>
  <div class="registration-container">
    <h1>
      Player Information
    </h1>
    <q-form
      ref="registrationForm"
      dense
      @submit="onSubmit"
      @reset="onReset">
      <!-- Name & Date of Birth -->
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <q-input
            v-model="player.name"
            class="q-mx-sm"
            filled dense
            label="Player Name *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Field is required.']"
            @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-input v-model="player.dateOfBirth" dense filled
                   class="q-mx-sm" label="Date of Birth *" mask="##-##-####"
                   lazy-rules :rules="[ val => val && val.length > 0 || 'Field is required.']"
                   @focus="preventScroll($event)" />
        </div>
      </div>
      <!-- Gender & Grade -->
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <q-select v-model="player.gender" class="q-mx-sm" dense
                    required
                    filled :options="['Male', 'Female']" label="Gender *"
                    lazy-rules behavior="menu"
                    :rules="[
                      val => val !== null && val !== '' || 'Field is required.'
                    ]"
                    @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-select v-model="player.grade" class="q-mx-sm" dense
                    required
                    filled :options="['Pre-K', 'K', '1st', '2nd', '3rd', '4th', '5th', '6th']" label="Grade *"
                    lazy-rules behavior="menu"
                    :rules="[
                      val => val !== null && val !== '' || 'Field is required.'
                    ]"
                    @focus="preventScroll($event)" />
        </div>
      </div>
      <!-- Unavailable Nights, Played Before & Years Played -->
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <q-select v-model="player.nightsUnavailable" class="q-mx-sm" dense
                    filled :options="['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']" label="Unavailable Nights"
                    multiple
                    lazy-rules behavior="menu"
                    :rules="[
                      val => val !== null && val !== '' || 'Field is required.'
                    ]"
                    @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-12 col-sm-4">
          <q-select v-model="player.playedBefore" class="q-mx-sm" dense
                    filled :options="['Yes', 'No']" label="Played Before *"
                    required lazy-rules behavior="menu"
                    :rules="[
                      val => val !== null && val !== '' || 'Field is required.'
                    ]"
                    @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-12 col-sm-4">
          <q-input
            v-model="player.yearsPlayed"
            type="number"
            class="q-mx-sm"
            pattern="[0-9]*"
            :class="$q.screen.xs ? 'q-mb-md' : ''"
            filled dense
            label="Years Played"
            @focus="preventScroll($event)" />
        </div>
      </div>
      <!-- Street Address -->
      <div class="row">
        <div class="col-xs-12">
          <q-input
            v-model="player.streetAddress"
            class="q-mx-sm"
            filled dense
            label="Street Address *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Field is required.']"
            @focus="preventScroll($event)" />
        </div>
      </div>
      <!-- City, State, & Zip Code -->
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <q-input
            v-model="player.city"
            class="q-mx-sm"
            filled dense
            label="City *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Field is required.']"
            @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-6 col-sm-4">
          <q-input
            v-model="player.state"
            class="q-mx-sm"
            mask="AA"
            filled dense
            label="State *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Field is required.']"
            @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-6 col-sm-4">
          <q-input
            v-model="player.zipCode"
            class="q-mx-sm"
            mask="#####"
            filled dense
            label="Zip Code *"
            lazy-rules
            pattern="[0-9]*"
            :rules="[ val => val && val.length > 0 || 'Field is required.']"
            @focus="preventScroll($event)" />
        </div>
      </div>
      <!-- Jersey && Shorts Size -->
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <q-select v-model="player.shirtSize" class="q-mx-sm" dense
                    filled :options="shirtSizes" label="Jersey Size *"
                    lazy-rules behavior="menu" required
                    :rules="[
                      val => val !== null && val !== '' || 'Field is required.'
                    ]"
                    @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-select v-model="player.shortSize" class="q-mx-sm" dense
                    filled :options="shortSizes" label="Shorts Size *"
                    lazy-rules behavior="menu" required
                    :rules="[
                      val => val !== null && val !== '' || 'Field is required.'
                    ]"
                    @focus="preventScroll($event)" />
        </div>
      </div>
      <!-- Medical Conditions -->
      <div class="row">
        <div class="col">
          <q-input
            v-model="player.medicalConditions"
            dense
            class="q-mx-sm"
            hint="List any medical conditions or other concerns"
            label="Medical Conditions"
            filled
            autogrow />
        </div>
      </div>
      <div class="row q-my-sm" style="display: flex; justify-content: center;">
        <h1>
          Parent/Guardian Information
        </h1>
      </div>
      <!-- Male Guardian && Female Guardian -->
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <q-input
            v-model="player.maleGuardian"
            type="text"
            class="q-mx-sm"
            filled dense
            label="Father/Guardian *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Field is required.']"
            @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-12 col-sm-4">
          <q-input
            v-model="player.femaleGuardian"
            type="text"
            class="q-mx-sm"
            filled dense
            label="Mother/Guardian *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Field is required.']"
            @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-12 col-sm-4">
          <q-select v-model="player.parentRole" class="q-mx-sm" dense
                    filled :options="['Coach', 'Referee', 'Team Parent', 'None']" label="Interested In *"
                    lazy-rules behavior="menu"
                    :rules="[
                      val => val !== null && val !== '' || 'Field is required.'
                    ]"
                    @focus="preventScroll($event)" />
        </div>
      </div>
      <div class="row q-my-sm" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>
          Contact Information
        </h1>
        <p style="max-width: 80vw; font-style: italic; font-size: 13px; color: rgba(0, 0, 0, 0.54)">
          We will be sending out text updates about the program, please list any cell number that you want to receive the updates.
        </p>
      </div>
      <!-- Contacts -->
      <div v-for="(contact, index) in player.contacts" :key="index" class="row">
        <div class="col-xs-12 col-sm-6">
          <q-input
            v-model="contact.name"
            class="q-mx-sm"
            filled dense
            type="text"
            label="Contact Name *"
            lazy-rules
            :rules="[
              val => val !== null && val !== '' || 'Field is required.'
            ]"
            @focus="preventScroll($event)" />
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-input
            v-model="contact.phoneNumber"
            class="q-mx-sm"
            mask="(###) ###-####"
            filled dense
            label="Cell Phone *"
            lazy-rules
            :rules="[
              val => val !== null && val !== '' || 'Field is required.'
            ]"
            @focus="preventScroll($event)" />
        </div>
      </div>
      <div class="row">
        <div class="col" style="display: flex; justify-content: center;">
          <q-btn label="Add Contact" color="primary" size="sm"
                 @click="player.contacts.push({ name: '', phoneNumber: ''})" />
          <q-btn v-if="player.contacts.length > 1" label="Delete Contact" color="secondary"
                 class="q-ml-sm" size="sm" @click="player.contacts.pop()" />                 
        </div>
      </div>
      <div class="row q-my-sm" style="display: flex; justify-content: center;">
        <h1>
          Addtl. Information
        </h1>
      </div>
      <!-- Church Attended -->
      <div class="row">
        <div class="col-xs-12">
          <q-input
            v-model="player.churchAttended"
            type="text"
            class="q-mx-sm"
            filled dense
            label="Regularly Attended Church *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Field is required.']"
            @focus="preventScroll($event)" />
        </div>
      </div>
      <!-- More info about MBC -->
      <div class="row">
        <div class="col-xs-12" style="display: flex; justify-content: center;">
          <q-toggle v-model="player.moreInfoAboutMBC" label="Would you like more information about MBC Ministries" />
        </div>
      </div>
      <div class="row">
        <div class="col form-buttons">
          <q-btn label="Submit" type="submit" color="primary"
                 :loading="isLoading" />
          <q-btn label="Reset" type="reset" color="accent"
                 flat class="q-ml-sm" />
        </div>
      </div>
    </q-form>
  </div>
</template>

<script lang="ts" setup>
import { Player, Role } from '../interfaces/Player';
import { Ref, onMounted, ref } from 'vue';
import { QForm } from 'quasar';
import { addPlayer } from '../utility/dbHelpers';
import { appStore } from '../state/app';
import { useQuasar } from 'quasar';
import { v4 as uuidv4 } from 'uuid';

const $q = useQuasar();

const isLoading = ref(false);

onMounted(() => {
  document.addEventListener('focusout', (ev) => {
    ev.preventDefault();
    scrollTo({
      top: 0,
      left: 0,
      behavior: 'smooth'
    });
  });
});

function preventScroll(e: Event) {
  e.preventDefault();
  scrollTo({
    top: 0,
    left: 0,
    behavior: 'smooth'
  });
}

const role: Role = 'None';
const player: Ref<Player> = ref({
  id: uuidv4(),
  hasPaid: false,
  city: '',
  name: '',
  gender: '',
  dateOfBirth: '',
  playedBefore: '',
  nightsUnavailable: [],
  maleGuardian: '',
  femaleGuardian: '',
  parentRole: role,
  medicalConditions: '',
  churchAttended: '',
  moreInfoAboutMBC: true,
  grade: '',
  shirtSize: '',
  shortSize: '',
  state: 'AL',
  hasTeam: false,
  streetAddress: '',
  zipCode: '',
  contacts: [
    {
      name: '', phoneNumber: ''
    }
  ],
  dateAdded: new Date(),
  evaluationComplete: false,
  addedBy: appStore.state.user?.email || 'Guest'
});

const shirtSizes = ['Youth XS', 'Youth SM', 'Youth M', 'Youth L', 'SM', 'M', 'L', 'XL', 'XXL'];
const shortSizes = ['Youth XXS', 'Youth XS', 'Youth SM', 'Youth M', 'Youth L', 'SM', 'M', 'L', 'XL', 'XXL'];

// seedDb();

// async function seedDb() {
//   const playersRef = doc(db, "data", "players");
//   for (let i = 0; i < 51; i++) {
//     const randSize = Math.floor(Math.random() * 8);
//     const jerseySize = shirtSizes[randSize];
//     const shortSize = shortSizes[randSize];
//     player.value = {
//       id: crypto.randomUUID(),
//       age: Math.floor(Math.random() * 13) + 6,
//       city: 'Moulton',
//       email: 'test@gmail.com',
//       firstName: 'Test',
//       lastName: 'Player',
//       phoneNumber: '256-616-6230',
//       shirtSize: jerseySize,
//       shortSize: shortSize,
//       state: 'AL',
//       streetAddress: '11 County Road 24',
//       zipCode: '35650',
//       dateAdded: new Date(),
//       evaluationScore: 0,
//       evaluationComplete: false,
//       addedBy: appStore.state.user?.email || ''
//     };
//     await updateDoc(playersRef, {
//       players: arrayUnion(player.value)
//     })
//       .catch((er) => {
//         alert(`Error: ${er}`);
//       });
//   }
// }

async function onSubmit() {
  isLoading.value = true;
  addPlayer(player.value)
    .then(() => {
      scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
      isLoading.value = false;
      $q.notify({
        color: 'primary',
        textColor: 'white',
        icon: 'cloud_done',
        message: 'Player added successfully!'
      });
      onReset();
    })
    .catch((er: Error) => {
      isLoading.value = false;
      $q.notify({
        color: 'accent',
        textColor: 'white',
        icon: 'cloud_off',
        message: `Error: ${er}`
      });
    });
}

const registrationForm: Ref<QForm | null> = ref(null);
function onReset() {
  scrollTo({
    top: 0,
    left: 0,
    behavior: 'smooth'
  });
  player.value = {
    id: uuidv4(),
    hasPaid: false,
    city: '',
    name: '',
    gender: '',
    dateOfBirth: '',
    playedBefore: '',
    nightsUnavailable: [],
    maleGuardian: '',
    femaleGuardian: '',
    parentRole: role,
    medicalConditions: '',
    churchAttended: '',
    moreInfoAboutMBC: true,
    grade: '',
    shirtSize: '',
    shortSize: '',
    state: 'AL',
    hasTeam: false,
    streetAddress: '',
    zipCode: '',
    contacts: [
      {
        name: '', phoneNumber: ''
      }
    ],
    dateAdded: new Date(),
    evaluationComplete: false,
    addedBy: appStore.state.user?.email || 'Guest'
  };
  if (registrationForm.value) {
    registrationForm.value.resetValidation();
  }
}
</script>

<style lang="sass" scoped>
.registration-container
  display: flex
  flex-direction: column
  align-items: center
  height: calc(100vh - 50px)
  overflow-y: auto
  overflow-x: hidden
.q-form
  width: 100%
  margin: auto
  padding: 0.5rem
  padding-bottom: 150px
  align-items: center
h1
  color: $primary
  font-weight: bold
  margin: 0
  letter-spacing: 5px
@media (min-width: 0px) and (max-width: 480px)
  h1
    font-size: 0.9rem
@media (min-width: 481px) and (max-width: 768px)
  h1
    font-size: 1.2rem  
@media (min-width: 769px)
  h1
    font-size: 1.4rem
@media (min-width: 1200px)
  .q-form
    max-width: 70vw

.form-buttons
  display: flex
  justify-content: flex-end
</style>
