<template>
  <div class="signin-container">
    <q-img src="../assets/logo.png" style="width: 25vw; max-width: 300px;" />
    <q-form
      dense
      @submit="attemptSignIn">
      <div class="row">
        <div class="col">
          <q-input
            v-model="email"
            type="text"
            class="q-mx-sm"
            filled dense
            label="Username *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'This field is required.']" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <q-input
            v-model="password"
            type="password"
            class="q-mx-sm"
            filled dense
            label="Password *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'This field is required.']" />
        </div>
      </div>
      <div class="row">
        <div class="col form-buttons">
          <q-btn label="Submit" type="submit" color="primary" />
        </div>
      </div>
    </q-form>
  </div>
</template>

<script setup lang="ts">
import { getAuth, signInWithEmailAndPassword, updateProfile } from '@firebase/auth';
import { ref } from 'vue';
import { useQuasar } from 'quasar';
import { useRouter } from 'vue-router';

const $q = useQuasar();
const router = useRouter();

const email = ref('');
const password = ref('');

function attemptSignIn() {
  const auth = getAuth();
  signInWithEmailAndPassword(auth, `${email.value}@gmail.com`, password.value)
    .then(() => {
      if (auth.currentUser) {
        const name = auth.currentUser.email?.substring(0, auth.currentUser.email.indexOf('@'));
        updateProfile(auth.currentUser, {
          displayName: name
        }).then(() => {
          // Signed in 
          router.push('/');
        });
      }
    })
    .catch(() => {
      $q.notify({
        message: 'Incorrect email or password',
        color: 'negative',
        timeout: 2000,
        position: 'bottom'
      });
    });
}
</script>

<style lang="sass" scoped>
.signin-container
  display: flex
  flex-direction: column
  height: calc(100vh - 100px)
  max-width: 800px
  overflow-y: auto
  overflow-x: hidden
  margin: auto
  padding: 0.5rem
  align-items: center
form
  width: 60%
  margin: 1rem 0
.form-buttons
  display: flex
  justify-content: center
</style>
