<template>
  <q-card v-for="(p, index) in players" :key="index"
          bordered class="my-card bg-grey-1 col-xs-12 col-sm-5 col-md-4 q-mx-sm q-my-md">
    <q-card-section>
      <div class="row items-center no-wrap player-name-div">
        <div class="text-h5 player-name">
          {{ p.name }}
        </div>
        <div class="paid-div">
          <div>
            <q-checkbox v-model="p.hasPaid" :label="p.hasPaid ? 'Paid' : 'Unpaid'" :color="p.hasPaid ? 'positive' : 'negative'"
                        keep-color checked-icon="task_alt"
                        unchecked-icon="highlight_off" @update:model-value="val => { updateHasPaid(val, p)}" />
          </div>
        </div>
      </div>
      <q-separator />
      <div class="row items-center no-wrap center-row">
        <div class="col">
          <div class="text-subtitle2">
            Played Before:&nbsp;{{ p.playedBefore }}
          </div>
          <div v-if="p.playedBefore === 'Yes'" class="text-subtitle2">
            Years Played:&nbsp;{{ p.yearsPlayed }}
          </div>
          <div v-else class="text-subtitle2">
            Years Played:&nbsp;0
          </div>
          <div class="text-subtitle2">
            Grade:&nbsp;{{ p.grade }}
          </div>
          <div class="text-subtitle2">
            Jersey:&nbsp;{{ p.shirtSize }}
          </div>
          <div class="text-subtitle2">
            Shorts:&nbsp;{{ p.shirtSize }}
          </div>
        </div>
        <div class="col eval-score-div">
          <span class="text-subtitle2">EVALUATION</span>
          <q-avatar v-if="p.evaluationComplete" class="shadow-6 q-mr-md"
                    text-color="positive">
            <span class="text-subtitle1">{{ p.evaluation?.overallScore }}</span>
          </q-avatar>
          <q-avatar v-else text-color="negative" class="shadow-6 q-mr-md">
            <span class="text-subtitle2">N/A</span>
          </q-avatar>
        </div>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-actions align="center">
      <q-btn flat class="action-btn" color="primary"
             @click="openEvaluationDialog(p)">
        EVALUATE
      </q-btn>
    </q-card-actions>
  </q-card>
  <q-dialog v-model="evalDialog" persistent
            transition-show="rotate"
            transition-hide="rotate">
    <q-card style="width: 700px; max-width: 80vw; height: 75vh; overflow: hidden">
      <q-form
        ref="evalForm"
        @submit="onSubmit"
        @reset="onReset">
        <q-card-section class="dialog-section">
          <div class="text-h6">
            Evaluation: {{ selectedPlayer?.name }}
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section class="scroll middle-section">
          <div class="row">
            <div class="col-xs-12">
              <q-input
                v-model="dashTime"
                class="q-mx-sm"
                filled dense
                label="Dash Time *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Field is required.']" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <q-input
                v-model="coneDribbling"
                class="q-mx-sm"
                filled dense
                label="Cone Dribbling Time *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Field is required.']" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <q-input
                v-model="longShot10"
                class="q-mx-sm"
                filled dense
                label="Long Shot 10 *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Field is required.']" />
            </div>
            <div class="col-xs-12 col-sm-4">
              <q-input
                v-model="longShot20"
                class="q-mx-sm"
                filled dense
                label="Long Shot 20 *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Field is required.']" />
            </div>
            <div class="col-xs-12 col-sm-4">
              <q-input
                v-model="longShot30"
                class="q-mx-sm"
                filled dense
                label="Long Shot 30 *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Field is required.']" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <q-input
                v-model="goalsRight"
                class="q-mx-sm"
                filled dense
                label="Goals Right *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Field is required.']" />
            </div>
            <div class="col-xs-12 col-sm-4">
              <q-input
                v-model="goalsCenter"
                class="q-mx-sm"
                filled dense
                label="Goals Center *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Field is required.']" />
            </div>
            <div class="col-xs-12 col-sm-4">
              <q-input
                v-model="goalsLeft"
                class="q-mx-sm"
                filled dense
                label="Goals Left *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Field is required.']" />
            </div>
          </div>
          <div class="row q-pa-lg">
            <div class="col">
              <label for="overallScore">Overall Score</label>
              <q-slider v-model="overallScore" :min="1" :max="5"
                        :step="2"
                        dense marker-labels />
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right" class="bottom-section">
          <q-btn type="reset" flat
                 label="Cancel"
                 color="accent" />
          <q-btn type="submit"
                 label="Save"
                 color="primary" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" setup>
import { Ref, ref } from 'vue';
import { Player } from '../interfaces/Player';
import { QForm } from 'quasar';
import { updatePlayers } from '../utility/dbHelpers';
import { useQuasar } from 'quasar';

const $q = useQuasar();

const props = defineProps<{
  players: Array<Player>
}>();

const emit = defineEmits(['saveEvaluation']);

const dashTime = ref('');
const coneDribbling = ref('');
const longShot10 = ref('');
const longShot20 = ref('');
const longShot30 = ref('');
const goalsRight = ref('');
const goalsCenter = ref('');
const goalsLeft = ref('');
const overallScore = ref(3);

const selectedPlayer: Ref<Player | null> = ref(null);

const evalDialog = ref(false);
function openEvaluationDialog(p: Player):void {
  selectedPlayer.value = p;
  if (selectedPlayer.value.evaluationComplete) {
    dashTime.value = p.evaluation?.dashTime || '';
    coneDribbling.value = p.evaluation?.coneDribbling || '';
    longShot10.value = p.evaluation?.longShot10 || '';
    longShot20.value = p.evaluation?.longShot20 || '';
    longShot30.value = p.evaluation?.longShot30 || '';
    goalsRight.value = p.evaluation?.goalsRight || '';
    goalsCenter.value = p.evaluation?.goalsCenter || '';
    goalsLeft.value = p.evaluation?.goalsLeft || '';
    overallScore.value = p.evaluation?.overallScore || 3;
  }
  evalDialog.value = true;
}

async function updateHasPaid(val: boolean, player: Player) {
  const p = props.players.find(_ => _.id === player.id);
  if (p) {
    p.hasPaid = val;
    await updatePlayers(props.players)
      .then(() => {
        $q.notify({
          message: `${p.name} has been updated.`,
          color: 'primary',
          timeout: 2000,
          position: 'top'
        });
      })
      .catch(er => {
        $q.notify({
          message: `Error: ${er}`,
          color: 'accent',
          timeout: 2000,
          position: 'top'
        });
      });
  }
}

const evalForm: Ref<QForm | null> = ref(null);
function onSubmit():void {
  if (selectedPlayer.value) {
    selectedPlayer.value.evaluation = {
      dashTime: dashTime.value,
      coneDribbling: coneDribbling.value,
      longShot10: longShot10.value,
      longShot20: longShot20.value,
      longShot30: longShot30.value,
      goalsRight: goalsRight.value,
      goalsCenter: goalsCenter.value,
      goalsLeft: goalsLeft.value,
      overallScore: overallScore.value
    };
    selectedPlayer.value.evaluationComplete = true;
    emit('saveEvaluation', selectedPlayer.value);
  }
  onReset();
}
function onReset():void {
  dashTime.value = '';
  coneDribbling.value = '';
  longShot10.value = '';
  longShot20.value = '';
  longShot30.value = '';
  goalsRight.value = '';
  goalsCenter.value = '';
  goalsLeft.value = '';
  overallScore.value = 3;
  evalDialog.value = false;
  selectedPlayer.value = null;
}
</script>

<style lang="sass" scoped> 
.text-h6
  margin-top: -10px
.my-card
  // max-height: 215px
.q-form
  display: flex
  flex-direction: column
  height: 100%
.q-card__section
  padding: 4px 16px
.dialog-section
  height: 7%
  padding: 16px
.player-name-div
  display: flex
  justify-content: space-between
.player-name
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
.eval-score-div
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: flex-end
.middle-section
  height: 80%
  overflow-y: auto
  overflow-x: hidden
  padding-top: 10px
  padding-bottom: 50px
.col 
  padding-top: 16px
.action-btn 
  height: 13%
  width: 33%
  font-size: 0.75rem
.action-btn:hover
  color: $primary
</style>
