<template>
  <q-card v-for="(t, index) in teams" :key="index"
          bordered class="my-card bg-grey-1 col-xs-12 col-sm-4 q-mx-sm q-my-xs">
    <q-card-section class="top-section">
      <div class="row items-center no-wrap team-name">
        <div class="text-h5">
          {{ t.teamName }}                  
        </div>
        <div class="text-subtitle2">
          Coach: {{ t.coach }}
        </div>
      </div>
      <q-separator />
      <div class="row items-center no-wrap">
        <div class="col">
          <div class="text-subtitle2">
            Players:&nbsp;{{ t.players.length }}
          </div>
          <div v-if="t.players.length > 0" class="text-subtitle2">
            Avg Eval: {{ t.avgEval?.toFixed(2) }}
          </div>
          <!-- <div class="text-subtitle2">
            {{ p.city }},&nbsp;{{ p.state }}&nbsp;{{ p.zipCode }}
          </div>
          <div class="text-subtitle2">
            Age:&nbsp;{{ p.age }}
          </div>
          <div class="text-subtitle2">
            Jersey:&nbsp;{{ p.shirtSize }}
          </div> -->
        </div>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-actions align="center">
      <q-btn flat color="primary" class="action-btn"
             @click="emit('editTeam', t)">
        EDIT
      </q-btn>
      <q-separator vertical />
      <q-btn flat color="primary" class="action-btn"
             @click="emit('addPlayer', t)">
        PLAYERS
      </q-btn>
      <q-separator vertical />
      <q-btn flat color="primary" class="action-btn"
             @click="emit('deleteTeam', t)">
        DELETE
      </q-btn>
    </q-card-actions>
  </q-card>
  <!-- <q-dialog v-model="evalDialog" full-height
            persistent
            transition-show="rotate"
            transition-hide="rotate">
    <q-card style="width: 700px; max-width: 80vw;">
      <q-form
        ref="evalForm"
        class="q-gutter-md"
        @submit="onSubmit"
        @reset="onReset">
        <q-card-section>
          <div class="text-h6">
            Evaluation: {{ selectedPlayer?.firstName }}&nbsp;{{ selectedPlayer?.lastName }}
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section class="scroll middle-section">
          <div v-for="(i, index) in 10" :key="index" class="row">
            <div class="col">
              Ball Control
            </div>
            <div class="col">
              <q-slider v-model="ballControl" :min="1" :max="5"
                        dense marker-labels />
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn type="reset" flat
                 label="Cancel"
                 color="negative" />
          <q-btn type="submit" flat
                 label="Save"
                 color="positive" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog> -->
</template>

<script lang="ts" setup>
import { Ref, onMounted, ref } from 'vue';
import { Player } from '../interfaces/Player';
import { Team } from '../interfaces/Team';
import { fetchPlayers } from '../utility/dbHelpers';

const props = defineProps<{
  teams: Array<Team>
}>();

const emit = defineEmits(['editTeam', 'addPlayer', 'deleteTeam']);

const players: Ref<Array<Player>> = ref([]);

onMounted(async() => {
  await fetchPlayers('Recently Added')
    .then((list) => {
      players.value = list;
      calcTeamAvgEval();
    });
});

function calcTeamAvgEval():void {
  let total = 0;
  props.teams.forEach(team => {
    team.players.forEach(player => {
      const p = players.value.find(_ => _.id === player);
      if (p) {
        if (p.evaluation) {
          total += p.evaluation.overallScore;
        }
      }
    });
    team.avgEval = total / team.players.length;
    total = 0;
  });
}
</script>

<style lang="sass" scoped>
.my-card
  display: flex
  flex-direction: column
  max-height: 200px
.top-section
  flex: 1 
.q-card__section
  padding: 4px 16px
.team-name
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.text-h6
  margin-top: -10px
.q-form
  display: flex
  flex-direction: column
  height: 100%
.middle-section
  flex: 1
.col 
  padding-top: 16px
.action-btn
  width: 33%
.action-btn:hover
  color: $primary
</style>
