<template>
  <div class="q-pa-md">
    <q-layout view="lHh lpr lFf"
              class="shadow-2 rounded-borders">
      <q-header v-if="page !== '/signin'" class="bg-grey-1" elevated>
        <q-toolbar>
          <q-btn v-if="$q.screen.xs && appStore.state.user" flat round
                 dense color="dark"
                 icon="menu" class="mobile-menu-btn q-mr-sm">
            <q-menu auto-close class="nav-menu">
              <q-list style="min-width: 100px">
                <q-item v-ripple clickable to="/">
                  <q-item-section>Register</q-item-section>
                </q-item>
                <q-separator />
                <q-item v-ripple clickable
                        to="/evaluations">
                  <q-item-section>Evaluation</q-item-section>
                </q-item>
                <q-separator />
                <q-item v-ripple clickable
                        to="/league">
                  <q-item-section>League</q-item-section>
                </q-item>
                <q-separator />
                <q-item v-ripple clickable
                        @click="attemptSignOut">
                  <q-item-section>Sign Out</q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
          <q-avatar @click="router.push('/')">
            <img src="./assets/logo.png">
          </q-avatar>

          <q-btn-toggle
            v-if="!$q.screen.xs && appStore.state.user"
            v-model="page"
            flat stretch
            color="dark"
            toggle-color="secondary"
            :options="options"
            @click="navigateTo(page)" />

          <q-space />

          <q-btn v-if="!$q.screen.xs && appStore.state.user" dense flat
                 color="primary" @click="attemptSignOut">
            Sign Out
          </q-btn>
        </q-toolbar>
      </q-header>

      <q-page-container>
        <q-page class="q-pa-md">
          <router-view />
        </q-page>
      </q-page-container>
    </q-layout>
  </div>
</template>

<script lang="ts" setup>
import { getAuth, signOut } from '@firebase/auth';
import { ref, watch } from 'vue';
import { appStore } from './state/app';
import { useQuasar } from 'quasar';
import { useRouter } from 'vue-router';

const $q = useQuasar();

const router = useRouter();

const page = ref(window.location.href.substring(window.location.href.lastIndexOf('/')));

watch(router.currentRoute, (newRoute) => {
  page.value = newRoute.path;
});

const options = [
  {
    label: 'Registration',
    value: '/'
  },
  {
    label: 'Evaluation',
    value: '/evaluations'
  },
  {
    label: 'League',
    value: '/league'
  }
];

function navigateTo(url: string):void {
  router.push(url);
}

function attemptSignOut() {
  const auth = getAuth();
  signOut(auth).then(() => {
    // Sign-out successful.
    router.push('/signin');
  }).catch(() => {
    // An error happened.
  });
}
</script>

<style lang="sass">
header
  border-bottom: 5px solid $accent
.q-item__section
  font-size: 0.75rem
.nav-menu
  width: 50vw
</style>
